@font-face {
  font-family: GoldenGirdle;
  src: url("/static/fonts/golden-girdle.otf") format("opentype");
}

:root {
  --clr-window-inside: linear-gradient(180deg, #00306c, #030712);
  --clr-window-back: url("/static/img/cardboard.png");
  --clr-text: #fff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-image: url("/static/img/starry-night-sky.avif");
  color: var(--clr-text);
}

.snowfall {
  position: fixed;
  inset: 0;

  pointer-events: none;

  background-image: url("/static/img/snowfall.gif");
  background-size: 640px;

  z-index: 100;
}

.container {
  max-width: min(80%, 1280px);
  margin-inline: auto;
}

header, footer {
  font-family: GoldenGirdle;
  text-align: center;
  margin-block: 5em;
}

h1 {
  hyphens: auto;
}

.window {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 2em;
  margin: 2em;

  border-width: 4px;
  border-color: var(--clr-text);
  border-style: dashed;
  border-radius: .5em;

  background: var(--clr-window-inside);

  font-family: GoldenGirdle;

  position: relative;
}

.door {
  position: absolute;
  inset: 0;

  transform-style: preserve-3d;
  transform-origin: 0 50%;
  transition: transform .5s ease-out;

  z-index: 50;
}

.door > * {
  border-radius: .5em;
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

.door .front {
  background-image: url("/static/img/starry-night-sky.avif");
  background-position: center center;

  display: grid;
  place-items: center;
}

.door .back {
  background: var(--clr-window-back);
  transform: rotateY(180deg);
}

.window input:checked + .door {
  transform: rotateY(-180deg);
}

button {
  display: inline-block;
  margin: 0.5em;
  font-size: 1.5em;
  outline: none;
  border: 0px;
  padding: 8px 36px;
  border-radius: 30px;
  background: linear-gradient(180deg, #00FF66 0%, #005823 50%, #00FF66 100%);
  color: #fff;
  position: relative;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .8), 0px 1px 0px rgba(255, 255, 255, .4);
}

button::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: calc(50% - 2px);
  width: calc(100% - 4px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .35));
}

button:hover {
  filter: brightness(1.04);
}

button:disabled {
  background: linear-gradient(180deg, #8C8C8C 0%, #000000 50%, #8C8C8C 100%);
  border-radius: 30px;
}

#audio-player {
  position: fixed; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 9999999;
}

#audio-player audio {
  display: block; 
  width: 100%;
  background: var(--clr-window-inside);
}
