<!DOCTYPE html>
<html lang="en">

<head>
  <title>Advent 2023</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  <script defer src="/static/js/music.js"></script>
  <script defer src="/static/js/persistence.js"></script>
</head>

<body>
  <header>
    <h1>{{ .Title }}</h1>
  </header>

  <main class="calendar">
    {{ range .Windows }}
    <label>
      <input type="checkbox" data-day="{{ .Day }}" {{ if not .IsOpenable }}disabled{{ end }} style="display: none" />
      <article title="{{ .Day }}" class="window">
        <div class="door">
          <h2>{{ .Day }}</h2>
        </div>
        <button data-play="{{ .Intro }}">
          Intro
        </button>
        <button data-play="{{ .Song }}">
          Song
        </button>
      </article>
    </label>
    {{ end }}
  </main>

  <aside id="audio-player">
    <audio controls>
    </audio>
  </aside>

  <footer>
    <p>Sponsored by the shadow government</p>
  </footer>

</body>

</html>
