<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>524.7 Smol Jingles</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  <script defer src="/static/js/music.js"></script>
  <script defer src="/static/js/persistence.js"></script>
</head>

<body>
  <div class="snowfall"></div>

  <header class="container">
    <img src="/static/img/logo.png" alt="Jolly Snus and Jan" />
  </header>

  <main class="container calendar">
    {{ range .Windows }}
    <div style="padding: {{ .Margin }}">
      <div title="{{ .Day }}" class="window">

        <img src="/static/img/info_icon.webp" alt="more info" class="popover" />

        <div class="popover-target">
          <h3>Description</h3>
          <p>{{ .Meta.Description }}</p>
          <h3>Song</h3>
          <p>{{ .Meta.Song.Name }}</p>
          <ul>
            {{ range .Meta.Song.Features }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>

        <label>
          <input type="checkbox" data-day="{{ .Day }}" {{ if not .IsOpenable }}disabled{{ end }} style="display: none" />
          <div class="door">
            <div class="front">
              <h2>{{ .Day }}</h2>
            </div>
            <div class="back"></div>
          </div>
          <h2>{{ .Day }}</h2>
          <button data-play="{{ .IntroPath }}" {{ if not .IsOpenable }}disabled{{ end }}>
            Intro
          </button>
          <button data-play="{{ .SongPath }}" {{ if not .IsOpenable }}disabled{{ end }}>
            Song
          </button>
        </label>

      </div>
    </div>
    {{ end }}
  </main>

  <aside id="audio-player">
    <audio controls>
    </audio>
  </aside>

  <footer class="container">
    <p>Sponsored by the shadow government</p>
  </footer>

</body>

</html>
