<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advent 2023</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  <script defer src="/static/js/music.js"></script>
  <script defer src="/static/js/persistence.js"></script>
</head>

<body>
  <div class="snowfall"></div>

  <header class="container">
    <h1>{{ .Title }}</h1>
  </header>

  <main class="container calendar">
    {{ range .Windows }}
    <label title="{{ .Day }}" class="window">
      <input type="checkbox" data-day="{{ .Day }}" {{ if not .IsOpenable }}disabled{{ end }} style="display: none" />
      <div class="door">
        <div class="front">
          <h2>{{ .Day }}</h2>
        </div>
        <div class="back"></div>
      </div>
      <h2>{{ .Day }}</h2>
      <button data-play="{{ .Intro }}" {{ if not .IsOpenable }}disabled{{ end }}>
        Intro
      </button>
      <button data-play="{{ .Song }}" {{ if not .IsOpenable }}disabled{{ end }}>
        Song
      </button>
    </label>
    {{ end }}
  </main>

  <aside id="audio-player">
    <audio controls>
    </audio>
  </aside>

  <footer class="container">
    <p>Sponsored by the shadow government</p>
  </footer>

</body>

</html>
